#draggable {
  height: 200px;
}

#soltable img {
  height: 600px;
}

#zona_arrastable {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#basura_completa {
  height: 600px;
  margin-left: 200%;
}
