.contenedorGeneralArrastable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contenedorImagenes {
  border: 1px solid black;
  height: 28rem;
  width: 47rem;
}
#contenedorImagenes img {
  margin: 1%;
}

.imagen {
  height: 130px;
}

#contenedorPuzzle {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  height: 28rem;
  width: 47rem;
}

.contendorPieza {
  width: 235px;
  height: 130px;
  margin: 1%;
  background-color: rgb(201, 151, 248);
}
