body {
  background-color: #ffffdd;
}
#contenedorGeneralArrastable {
  margin: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
}

#contenedorImagenes {
  border: 3px solid #a2c579;
  background-color: #ffffdd;
  height: 28rem;
  width: 47rem;
}
#contenedorImagenes img {
  margin: 1%;
}

.imagen {
  height: 130px;
}

#contenedorPuzzle {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #a2c579;

  height: 28rem;
  width: 47rem;
}

.soltable {
  width: 231.05px;
  height: 130px;
  margin: 1%;
  border: #a2c579 2px solid;
}

#botonYwin {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 150px;
  height: 60px;
  border: 1px solid #a2c579;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}

button:hover {
  background: #a2c579;
  color: white;
  font-size: 1.5em;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  color: #a2c579;
}

.oculto {
  display: none;
}
